.category-top-section {
  background: linear-gradient(#b31745, #8d1b3d);
  padding: 12px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-bottom-section {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 15px;
  gap: 15px;
}
