header {
  background: linear-gradient(#c4063f, #8d1b3d);
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header-title {
  text-align: center;
}

.header-trophy {
  height: 65px;
  padding: 0 20px;
  max-width: fit-content;
}