.team-icon {
  align-items: center;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width: 35px;
}

.team-icon img {
  width: 35px;
  height: 50px;
  object-fit: cover;
}

.country-name {
  font-size: 85%;
  color: rgb(70, 70, 70);
}

.chosen {
  opacity: 0.3;
}